.animalfarmcell {
   border: 1px solid black;
   padding: 5px;

}

body{
   background-color: #444444;

}

p {
   color: white;
}

label {
   color: white;
}

h3 {
   color: white;
}

h2 {
   color: white;
}

ul {
   color: white;
}
